<h2>Movie Detail</h2>

<LinkTo @route='index'>
  Back
</LinkTo>

<div class='actions-menu'>
  <button
    {{action 'changeTitle' @model.movie.id 'Rambo: Last Blood'}}
    class='button change-movie-title'
    type='button'
  >
    Change Movie Title
  </button>

  <button
    {{action 'refetchUsingObservable' @model}}
    class='button refetch-data-using-observable'
    type='button'
  >
    Refetch (using observable)
  </button>

  <button
    {{action 'refreshUsingRoute'}}
    class='button refresh-data'
    type='button'
  >
    Refetch (using route refresh())
  </button>

  <LinkTo @route='new-review' class='button add-review'>
    Add Review
  </LinkTo>
</div>

<MovieDetail @movie={{@model.movie}} />

<div class='movie-reviews'>
  {{#each this.reviews as |review|}}
    <p>{{review.stars}} stars</p>
  {{else}}
    <p>No reviews</p>
  {{/each}}
</div>